.bg-navbar-color {
    background-color: #bd9270;
    /* tu color personalizado */
}

.carousel-item {
    max-height: 500px;
}

@media (min-width: 992px) {
    .col-lg-1-5 {
        flex: 0 0 auto;
        width: 20%;
    }
}

.product-card img {
    height: 300px;
    object-fit: cover;
}

.carousel-item .row {
    justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    padding: 10px;
}

.card-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
}

.price {
    font-weight: bold;
    font-size: 1.1rem;
}

/* Define la base para submenús */
.dropdown-submenu {
  position: relative;
}

/* Submenús en cascada hacia la derecha (escritorio) */
.dropdown-submenu > .dropdown-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: 0;
}

/* Mostrar submenús al hacer clic */
.dropdown-submenu > .dropdown-menu.show {
  display: block;
}

/* Adaptación para dispositivos móviles */
@media (max-width: 800px) {
  .dropdown-submenu > .dropdown-menu {
    position: relative;
    left: 0;
    top: 0;
  }

  /* Ajustes para niveles más profundos */
  .dropdown-submenu .multi-menu {
    left: 0;
    top: 0;
  }
}